.card-item {
    display: flex;
    margin: 15px;
    max-width: 100%;
}

.icon {
    background-color: var(--background-color);
    border-radius: 10px;
    padding: 10px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.icon:hover,
.icon:active {
    background-color: var(--background-color-hover);
}

.info {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 10px;
}

.title {
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 700;
}

.description {
    background-color: transparent;
    color: var(--text-color-hover);
    font-size: .9rem;
    font-weight: 100;
    outline: none;
    border: none;
    resize: none;
    width: 100%;
}