.input-search {
    height: 50px;
    margin-top: 30px;
    display: flex;
}

.input {
    background-color: var(--card-color);
    width: 75%;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.3rem;
    border-radius: 20px 0px 0px 20px;
    outline: none;
    border: none;
    color: var(--text-color);
    backdrop-filter: blur(10px);

    -moz-appearance: textfield;
}

::placeholder {
    color: var(--text-color-hover);
}

.btn-search {
    width: 25%;
    height: 100%;
    border-radius: 0px 20px 20px 0px;
    border: none;
    outline: none;
    background-color: var(--background-color);
}

.icon-search {
    height: 50%;
    width: 50%;
}

.btn-search:hover,
.btn-search:active {
    background-color: var(--background-color-hover);
}

.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}